<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>🦅 SWFT | About</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script
        src="https://kit.fontawesome.com/0b92670209.js"
        crossorigin="anonymous"
        ></script>
    </head>
    <body
    class="bg-neutral-950 text-white font-poppins flex flex-col items-center h-screen justify-between overflow-x-hidden"
  >
    <nav
      class="w-screen h-20 bg-neutral-900 flex items-center justify-evenly p-6"
    >
      <a href="/" class="text-4xl font-bold"> 🦅 SWFT </a>
      <a href="/about" class="text-4xl font-bold">ABOUT</a>
      <a
        href="https://github.com/nnisarggada/swft"
        target="_blank"
        class="text-4xl"
      >
        <i class="fab fa-github"></i>
      </a>
    </nav>

    <div
      class="w-screen max-w-2xl h-[100dvh] flex flex-col items-center justify-center gap-6 py-12"
    >
    <h1 class="text-6xl">About SWFT - Simple Web-based File Transfer</h1>
        <h2>Project Overview</h2>
            <p>SWFT is a lightweight and user-friendly web-based file sharing service that simplifies the way you share files with others. Designed with ease of use in mind, SWFT empowers you to quickly and securely share various file types, customize shareable links, and effortlessly manage file storage. With SWFT, file sharing becomes a breeze, whether you're a tech enthusiast or a casual user. <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://nnisarg.in/blog/introducing-swft/">Read more about SWFT here</a></p>
        <h2>Contribute to SWFT</h2>
            <p>We welcome contributions from the SWFT community. If you're passionate about improving SWFT or want to help shape its future, here's how you can contribute:</p>
            <ol class="list-decimal list-inside">
                <li>Read the Contribution Guidelines: To get started, please read our Contribution Guidelines. This document outlines the process for contributing, coding standards, and other essential information.</li>
                <li>Code Contributions: If you're a developer, you can contribute by submitting code improvements, bug fixes, or new features. We encourage you to fork the SWFT repository, make your changes, and create a pull request for review.</li>
                <li>Testing and Issue Reporting: Even if you're not a developer, you can contribute by testing SWFT, reporting bugs, or suggesting enhancements. Your feedback is invaluable in improving the project.</li>
                <li>Documentation: Help us improve our documentation by identifying areas that need clarification or enhancement. Clear and comprehensive documentation is essential for the SWFT community.</li>
            </ol>
            <p>By contributing to SWFT, you become part of a community-driven project that aims to make file sharing simpler and more accessible for everyone. Your input and efforts are highly appreciated and play a crucial role in the project's growth and success.</p>
            <p>Thank you for choosing SWFT for your file-sharing needs. We look forward to your involvement in our project!</p>
    </div>

    <footer
      class="w-screen h-12 bg-neutral-900 drop-shadow-2xl backdrop-opacity-10 flex items-center justify-center p-4"
    >
      <span class="text-sm">
        Made with ❤️ by
        <a
          class="text-rose-500 underline hover:no-underline"
          href="https://nnisarg.in"
          target="_blank"
        >
          Nnisarg Gada
        </a>
      </span>
    </footer>
  </body>
</html>